body {
    font-family: Arial, sans-serif;
    background-color: #452B1F; /* темно-коричневый фон */
    color: #FFFFFF; /* белый текст */
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #FFFFFF; /* белый текст */
    text-align: center;
}

form {
    width: 500px;
    margin: 40px auto;
    background-color: #964B00; /* коричневый фон */
    padding: 20px;
    border: 1px solid #452B1F; /* темно-коричневая рамка */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: #FFFFFF; /* белый текст */
}

input[type="text"], input[type="hidden"], textarea {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #452B1F; /* темно-коричневая рамка */
    border-radius: 5px;
    font-size: 18px;
    background-color: #964B00; /* коричневый фон */
    color: #FFFFFF; /* белый текст */
}

textarea {
    height: 100px;
    padding: 10px;
}

input[type="submit"] {
    width: 100%;
    height: 40px;
    background-color: #452B1F; /* темно-коричневый фон */
    color: #FFFFFF; /* белый текст */
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    input[type="submit"]:hover {
        background-color: #3B2F22; /* темно-коричневый фон */
    }
