
body {
    font-family: 'Great Vibes', cursive;
    background-color: #452B1F; /* темно-коричневый фон */
    color: #F7F7F7; /* светло-белый текст */
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* тень текста */
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #F7F7F7; /* светло-белый текст */
    text-align: center;
    margin-bottom: 20px;
}

form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #F7F7F7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

label {
    font-size: 18px;
    color: #F7F7F7; /* светло-белый текст */
    margin-bottom: 10px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid #F7F7F7;
    border-radius: 5px;
}

input[type="submit"] {
    width: 100%;
    height: 30px;
    background-color: #F7F7F7; /* светло-белый текст */
    color: #452B1F; /* темно-коричневый текст */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    input[type="submit"]:hover {
        background-color: #CCCCCC; /* светло-серый текст */
    }
